#fakeTextGenerator .model-inner {
    background-color: white;
    border-radius: 0.5em;
    width: 768px;
    padding: 2em;
    margin: auto;
}

#fakeTextGenerator .modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e2e2e2;
}

#fakeTextGenerator .modal-title {
    margin-bottom: 1em;
}

#fakeTextGenerator .modal-content {
    margin-top: 2em;
}

#fakeTextGenerator .message {
    margin-bottom: 1.25em;
}

#fakeTextGenerator [x-cloak] {
    display: none !important;
}

#fakeTextGenerator .overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .65);
    display: flex;
    justify-content: center;
    align-items: center;
}

#fakeTextGenerator .form {

}

#fakeTextGenerator .fieldset {
    border: 0;
    padding: 0;
}

#fakeTextGenerator .field {
    margin-top: 1.25em
}

#fakeTextGenerator .field:first-child {
    margin-top: 0;
}

#fakeTextGenerator .input-text, #fakeTextGenerator .textarea {
    width: 100%;
    border: 1px solid #c2c2c2;
    padding: .65em;
    margin-top: 1.25em;
}

#fakeTextGenerator .input-text:read-only, #fakeTextGenerator .textarea:read-only {
    opacity: .85;
}

#fakeTextGenerator .textarea {
    height: 116px;
    max-height: 116px;
    overflow-y: auto;
}

#fakeTextGenerator .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #e2e2e2;
    margin-top: 2em;
    padding-top: 1.25em
}

#fakeTextGenerator .generate .button {
    margin-right: 1em;
}
